# many thanks to 
# https://github.com/jakevdp/travis-python-template
# https://github.com/uwescience/shablona

language: python
sudo: false

env:
  global:
    - PACKAGENAME="htsimaging"
    - CONDA_DEPS="pip flake8 pytest numpy scipy matplotlib pandas opencv" 
#    - PIP_DEPS="coveralls pytest-cov" -
    - MINICONDA_URL="https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh"

python:
  - '2.7'
  
before_install:
- export MINICONDA=$HOME/miniconda
- export PATH="$MINICONDA/bin:$PATH"
- hash -r
- echo $MINICONDA_URL
- wget $MINICONDA_URL -O miniconda.sh;
- bash miniconda.sh -b -f -p $MINICONDA;
- conda config --set always_yes yes
- conda update conda
- conda info -a
- conda config --add channels conda-forge
- conda install python=$TRAVIS_PYTHON_VERSION $CONDA_DEPS
- travis_retry pip install $PIP_DEPS

install:
- python setup.py install --record installed_files.txt

script:
- py.test
